extends layout

block layout-content
  div.card
    div.card-body
      div
        b product ID - 
        =configuration.productId
      div
        b quantity   - 
        =configuration.quantity
      div
        b affiliate  - 
        =configuration.affiliateId
  br
  div.quicksearch
    div(data-app='inventory-app' data-view-name='quick-search-with-validation' data-action-url='/seating-plan' data-channel-id=configuration.affiliateId data-product-id=configuration.productId data-product-type=configuration.productType data-venue-id=configuration.venueId data-api-path=configuration.apiPath data-with-calendar='true' data-show-spinner-during-widget-loading='true')
  script(src=`${configuration.apiPath}/${configuration.widgetVersion}/js/quicksearch.js`)