extends layout

block layout-content
  div.seat-plan-container
    div(class="seat-plan-widget venue__c-seat-plan venue__c-seat-list" data-app="venue-app" data-view-name="seat-plan" data-channel-id=configuration.channelId data-api-path=configuration.actionUrl data-css-mode="full" data-suppress-addtobasket="true" data-without-seat-summary="true")
    div(class="venue__c-root" data-app="seat-summary-app" data-api-path=configuration.actionUrl data-channel-id=configuration.channelId data-css-mode="full" data-suppress-addtobasket="true")
    script(src=`${configuration.apiPath}/${configuration.widgetVersion}/js/venue-app.js`)
    script(src=`${configuration.apiPath}/${configuration.widgetVersion}/js/venue-seat-summary-app.js`)
    script.
      window.addEventListener("venue-app_selected-seats-summary-on-addtobasket", function(event) {
        const details = event.detail || {};
        const seats = details.selectedElement;
        const performanceParams = details.performanceParams;
        const aggregateReferences = seats
          .map(seat => seat.aggregateReference);
        const datetime = performanceParams.performanceDate + 'T' + performanceParams.performanceTime + ':00+00:00';
        window.location.href = `/addToBasket?productId=${performanceParams.productId}&quantity=${performanceParams.quantity}&date=${datetime}&aggregateReferences=${aggregateReferences}`;
      });
