extends layout

block layout-content
  div.card
    div.card-body
      div
        b product ID - 
        =inputs.productId
      div
        b quantity   - 
        =inputs.quantity
      div
        b affiliate  - 
        =inputs.affiliateId
  br
  table.table
    tr
      th Available datetimes:
    each item in listOfAvailableTime
      tr
        td
          a(href=`/performance?date=${item.date}&time=${item.time}&productId=${inputs.productId}&quantity=${inputs.quantity}&affiliateId=${inputs.affiliateId}&datetime=${item.datetime}`) #{item.datetime}
