extends layout

block layout-content
  table.table 
    thead
      tr
        th(scope="col") basket reference
        th(scope="col") basket password
        th(scope="col") action
    tbody
      tr
        td(scope="row")=basketDetails.basket.transaction[0].$.reference
        td(scope="row")=basketDetails.basket.transaction[0].password
        td(scope="row")
          a(href='/deleteBasket?reference='+basketDetails.basket.transaction[0].$.reference+'&password='+basketDetails.basket.transaction[0].password) delete 
          a(href='/createBooking?reference='+basketDetails.basket.transaction[0].$.reference+'&password='+basketDetails.basket.transaction[0].password) confirm 
  br
  table(border=1).table
    thead
      tr 
        th(scope="col") show name
        th(scope="col") venue
        th(scope="col") date of performance
        th(scope="col") sale price for ticket
        th(scope="col") number of tickets
        th(scope="col") total price
        th(scope="col") seats description
    tbody
      for reservation in basketDetails.basket.reservations
        tr
          td(scope="row")=reservation.reservation[0].product[0]._
          td(scope="row")=reservation.reservation[0].venue[0]._
          td(scope="row")=reservation.reservation[0].date[0]._
          td(scope="row")=reservation.reservation[0].price[0].salePrice[0]._
          td(scope="row")=reservation.reservation[0].price[0].quantity[0]
          td(scope="row")=reservation.reservation[0].price[0].total[0]._
          td(scope="row")=reservation.reservation[0].block[0].description[0]+ ' ' + reservation.reservation[0].block[0].seats[0]._
  br
  h1 customer details:
  p(style='white-space:pre;') 
    |assuming that after create basket, 
    |you take the payment and capture customer details
    |then you proceed to creating the booking which will
    |confirm the booking at Encore and at the venue
  div.card
    div.card-body
      div
        b title - 
        =customer.title
      div
        b first name - 
        =customer.firstName
      div
        b last name - 
        =customer.lastName
      
      div
        b address - 
        | #{customer.address.line1}
        | #{customer.address.line2}
        | #{customer.address.city}
        | #{customer.address.postcode}
        | #{customer.address.country}
      div
        b phone - 
        =customer.phone