extends layout

block layout-content
  div.View
    h1.Banner MyTheatre
    div.Message
      div.Title
        h3 Best theatre tickets site
        h1  Basket details:
        table
          tr
            th basket reference
            th basket checksum
            th action
          tr
            td #{reference}
            td #{checksum}
            td
              a(href=`/createBooking?reference=${reference}`) confirm
        table(border=1)
          tr
            th product Id
            th product Name
            th venue Id
            th date of performance
            th sale price for ticket
            th number of tickets
            th total price
            th action
          if (items && items.length)
            each item in items
              tr
                td #{item.productId}
                td #{item.productName}
                td #{item.venueId}
                td #{item.date}
                td #{item.salePrice.currency} #{(item.salePrice.value / 100).toFixed(2)}
                td #{item.quantity}
                td #{item.salePrice.currency} #{(item.totalPrice / 100).toFixed(2)}
                td
                  a(href=`/deleteItem?reference=${reference}&itemId=${item.id}`) delete item
          else
            tr
              td -
              td -
              td -
              td -
              td -
              td -
              td -
              td -
        h1 customer details:
        p(style='white-space:pre;')
          |assuming that after create basket,
          |you take the payment and capture customer details
          |then you proceed to creating the booking which will
          |confirm the booking at Encore and at the venue

    div.NavButtons
      a(href="/")
          div.NavButton Home!
